# PANDAS Cheatsheet
***

- Series: https://pandas.pydata.org/pandas-docs/stable/reference/series.html
- DataFrame: https://pandas.pydata.org/pandas-docs/stable/reference/frame.html

In [5]:
import pandas as pd
from sklearn import datasets

data = datasets.load_iris()
df = pd.DataFrame(data.data, columns=data.feature_names)

***
***

## Crear una Series o un DataFrame

In [16]:
serie = pd.Series({'a': 1, 'b': 2, 'c': 3})
serie

a    1
b    2
c    3
dtype: int64

In [42]:
indice = [2, 4, 6, 8, 10]
col_1 = [100, 200, 300, 400, 500]
col_2 = [50, 1000, 50, 1000, 50]
nombre_col = ['Unos números', 'Otros números']

dataf = pd.DataFrame(index = indice, data = {1: col_1, 2: col_2})
dataf.columns = nombre_col
dataf

    Unos números  Otros números
2            100             50
4            200           1000
6            300             50
8            400           1000
10           500             50

## Ver info del DataFrame

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   longitud sépalo  150 non-null    float64
 1   ancho sépalo     150 non-null    float64
 2   longitud pétalo  150 non-null    float64
 3   ancho pétalo     150 non-null    float64
dtypes: float64(4)
memory usage: 4.8 KB

## Asignarle nombre a las columnas

In [8]:
nombre_cols = ['longitud sépalo', 'ancho sépalo', 'longitud pétalo', 'ancho pétalo']
df.columns = nombre_cols

df.head()

   longitud sépalo  ancho sépalo  longitud pétalo  ancho pétalo
0              5.1           3.5              1.4           0.2
1              4.9           3.0              1.4           0.2
2              4.7           3.2              1.3           0.2
3              4.6           3.1              1.5           0.2
4              5.0           3.6              1.4           0.2

## Cambiar todos los valores de una columna (rebuscado pero funciona)

```python
# Creo una función, en este caso algo que me devuelve el Z-Score de un valor
def zscore(valor):
    return (valor-round(prom, 3))/round(sd, 3)

# Se lo aplico a la columna que quiero
df_aux['long_sepalo'] = df_aux['long_sepalo'].apply(zscore)
```